@use "sass:color";

$color1: #3478F6;
$color2: #ffffff;
$color3: #B2B2B2;
$max-width: 1920px;

@mixin button($background-color, $text-color, $padding-x, $padding-y, $font-size,$border-radius) {
  display: inline-block;
  padding: $padding-y $padding-x;
  color: $text-color;
  background-color: $background-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s;
  font-family: 'Jost', sans-serif;
  font-size: $font-size;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  font-weight: 400;
  text-align: center;
  outline: none;
  box-shadow: none;
  text-decoration: none;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: darken($background-color, 10%);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}


@mixin font ($font-size, $font-weight, $color)  {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    font-family: 'Jost', sans-serif;
}


button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}


.home-container {
  top: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 120px; 
  align-items: flex-start;
  width: 100%;
  max-width: $max-width;
  height: 100vh;
  background: url('/src/assets/img/home/slider.png') center center/contain no-repeat;
  position: relative;
  overflow: hidden;

  .home-35 {

    .hero__tag{
      @include font(14px, 500, #ffffff);
    }
    margin: 210px 120px 0px;
    padding: 20px 0;
    z-index: 2;
  }

  .hero__tag {
  
  display: inline-block;
  position: relative;
  font-weight: bold;
  
  &::before {
    content: "35% OFF";
    background-color: #0D5EF4; 
    color: white;
    padding: 6px 17px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  &::after {
    display: inline-block;
  }
  }

  .home-edu-text {
    @include font(28px, 700, #ffffff);
    max-width: 65%;
    z-index: 2;
    margin-top: 25px;
    p {
      @include font(14px, 400, #B2B2B2);
      max-width: 90%;
      margin-top: 15px;
    }
  }

  .circle-photo-slider {
    position: absolute;
    left: 380px; 
    top: 380px;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    .slider-container {
      width: 100%;
      
      .photo-circle {
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        box-shadow: -40px 20px 30px rgba(0, 0, 0, 0.1);
        border: 20px solid #ffffff;
      }
    }
    
    .dots-container {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 20px;
      
      .dot {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: rgba(52, 120, 246, 0.4);
        cursor: pointer;
        transition: all 0.3s ease;
        
        &.active {
          background-color: #3478F6;
          transform: scale(1.2);
        }
        
        &:hover {
          background-color: #3478F6;
          transform: scale(1.1);
        }
      }
    }
  }
}



.card-button {
  @include button(#3478F6, #ffffff, 25px, 15px, 16px, 8px);
  margin-left: 120px;
  display: block;
  width: fit-content;
}