$btn-white: #FFFFFF;
$btn-secondary: #0F2239;
$btn-primary: #3478F6;
$btn-grey: #4d5765;

@mixin button($background-color, $text-color, $padding-x, $padding-y, $font-size,$border-radius) {
  display: inline-block;
  padding: $padding-y $padding-x;
  color: $text-color;
  background-color: $background-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s;
  font-family: 'Jost', sans-serif;
  font-size: $font-size;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  font-weight: 400;
  text-align: center;
  outline: none;
  box-shadow: none;
  text-decoration: none;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: darken($background-color, 10%);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

@mixin font($font-size, $font-weight, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  font-family: 'Jost', sans-serif;
  line-height: 1.4;
}

button, .my-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.categories-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 50px 50px 213px;
  background-color: $btn-white;
  display: flex;
  flex-direction: column;
}

.categories-header {
  padding: 50px 0px;

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -135px;

    h6 {
      @include font(14px, 500, $btn-primary);
      margin-bottom: 6px;
      margin-left: 20px;
      margin-top: -17px
    }

    h2 {
      @include font(30px, 700, $btn-secondary);
      margin: 0 10px 0 0;
    }
  }
}

.lines-img img {
  width: 1100px;
  height: 120px;
  object-fit: contain;
  display: block;
  margin-top: 50px;
  margin-left: 0px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  margin-left: 400px;
  margin-top: -90px;
  gap: 20px;
  width: 100%;

  .category-card {
    width: 160px;
    height: 168px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .circle-background {
      width: 40px;
      height: 40px;
      background-color: $btn-primary;
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 1; 
    }

    img {
      width: 50px;
      height: 50px;
      padding: 12px;
      margin-top: -6px;
      margin-bottom: 15px;
      object-fit: contain;
      position: relative;
      z-index: 2; 
      display: block;
      background: transparent;
    }

    h3 {
      @include font(13px, 600, $btn-secondary);
      margin-top: -8px;
      margin-bottom: 5px;
      text-align: center;
    }

    p {
      @include font(12px, 400, $btn-grey);
      margin-top: 3px;
      text-align: center;
    }
    .my-button {
      @include button($btn-primary, $btn-white, 25px, 6px, 10px, 6px);
      margin-left: -5px;
      margin-top: 14px;
    }
  }
}

.category-button {
  @include button($btn-primary, $btn-white, 25px, 15px, 12px, 4px);
  margin: 20px auto 0 auto;
  display: block;
  width: fit-content;
  letter-spacing: 1px;
  margin-left: 0px;
  margin-top: -70px;
}

.gallery-section {
  position: relative;
  width: 1070px;  
  height: 670px;  
  margin: 50px  104px 0 auto;

  .gallery-item1 {
    position: absolute;
    top: 0;
    left: -78px;
    z-index: 2;
    img {
      width: 380px; 
      height: auto;
      border-radius: 15px;
      object-fit: cover;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
    }
  }

  .gallery-item2 {
    position: absolute;
    bottom: 257px;
    left: 155px;
    z-index: 3;
    img {
      width: 284px;  
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .gallery-item3 {
    position: absolute;
    bottom: 250px;
    left: -140px;
    img {
      width: 280px;
      height: auto;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  .gallery-item7 {
    position: absolute;
    bottom: 268px;
    left: 145px;
    z-index: 2;
    img {
      width: 284px; 
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .stats-counter {
    position: absolute;
    top: 22px;
    right: 630px;
    width: 115px;
    height: 145px;
    background: linear-gradient(180deg, #4F8CFF 0%, #3478F6 100%);
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
    z-index: 3;
    
    h2 {
      font-size: 30px; 
      font-weight: 700;
      margin-bottom: 5px;
      span { color: #fff; }
    }

    p {
      max-width: 120%;
      font-size: 12px;  
      font-weight: 400;
      text-align: center;
      margin: 0;
    }
  }

  .gallery-circles {
    position: absolute;
    z-index: 4;
    .circle-blue {
      width: 100px;    
      height: 100px;   
      border: 4px solid #3478F6;
      border-radius: 50%;
      background: transparent;
      position: absolute;
      left: -126px;
      top: 298px;
    }
    .circle-red {
      width: 50px;     
      height: 50px;    
      border: 8px solid #ff1100;
      border-radius: 50%;
      background: transparent;
      position: absolute;
      left: -50px;
      top: 330px;
    }
  }
}

.about-section{
  position: absolute;
  top: 1086px;
  right: 95px;
  width: 650px;
  height: 480px;
  
  .about-content{
    h6{
      @include font(12px, 500, $btn-primary);
      margin-bottom: 5px;
      margin-left: 20px;
      margin-top: -20px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    h2{
      @include font(35px, 700, $btn-secondary);
      margin-bottom: 10px;
    }

    p{
      @include font(14px, 400, $btn-grey);
      max-width: 85%;
      margin-bottom: -4px;
      line-height: 1.6;
    }
  }

  .about-features{
    display: flex;
    gap: var(--feature-gap);
    margin-top: 9px;
    
    .cinema-img{
      img{
        width: 170px;
        height: 86px;
        border-radius: 10px;
        object-fit: cover;
      }
      padding-top: 20px;
    }

    .features-list{
      display: flex;
      margin-top: 50px;
      margin-left: 42px;
      
      ul {
        list-style: none;
        padding: 0;
        margin-top: -30px;
        
        li {
          @include font(13px, 500, $btn-secondary);
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          gap: 10px;
          
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}

.about-btn{
  @include button($btn-primary, $btn-white, 24px, 10px, 12px, 6px);
      margin-top: 17px;
}