$white: #FFFFFF;
$darkblue: #0F2239;
$blue: #0D5EF4;
$grey: #4d5765;
$red: #F20F10;

@mixin button($background-color, $text-color, $padding-x, $padding-y, $font-size,$border-radius) {
  display: inline-block;
  padding: $padding-y $padding-x;
  color: $text-color;
  background-color: $background-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s;
  font-family: 'Jost', sans-serif;
  font-size: $font-size;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  font-weight: 400;
  text-align: center;
  outline: none;
  box-shadow: none;
  text-decoration: none;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: darken($background-color, 10%);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

@mixin font($font-size, $font-weight, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  font-family: 'Jost', sans-serif;
  line-height: 1.4;
}

.are-ready-section {
  width: 100%;
  min-height: 600px;
  margin-top: 0px;
  background: $darkblue url('/src/assets/img/ready/banner.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 60px;
  position: relative;
  border-top: 130px solid $white;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  width: 75%;
  margin: 0 auto;
  margin-top: -100px;
  background: $blue;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0 8px 32px rgba(52,120,246,0.10);
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.stat-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 10px 60px 10px;
  background: #0D5EF4;
  border-right: 1px solid rgba(255,255,255,0.12);
  &:last-child { border-right: none; }

  h2 {
    @include font(34px, 500, $white);
    margin: -13px 0 9px 0;
    letter-spacing: 1px;
    text-align: center;
  }
  p {
    @include font(20px, 500, $white);
    margin: 0;
    text-align: center;
    span {
      @include font(20px, 400, $white);
      display: inline-block;
    }
  }
}

.offer-container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 850px;
  max-height: auto;
  text-align: center;
  color: $white;
  position: absolute;
  top: 50px;
  z-index: 2;

  .alo-img{
    margin: 0 0 0 -80px;
  }

  .offer-label {
    @include font(13px, 500, $blue);
    margin: -19px 0 10px -5px;
    text-transform: uppercase;
  }
  .offer-title {
    @include font(35px , 700px, $white);
    margin-bottom: 0px;
    span {
      color: $red;
      font-weight: 700;
    }
  }
  .offer-subtitle {
    @include font(35px, 400, $white);
    margin-bottom: 12px;
  }
  .offer-description {
    @include font (13px, 400, #D0DBE9);
    max-width: 70%;
    margin-left: 110px;
    margin-bottom: 32px;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 5px;
    .join-button {
      @include button($blue, $white, 30px, 15px, 12px, 6px);
      font-weight: 600;
    }
    .teacher-button {
      @include button(transparent, $white, 30px, 15px, 12px, 6px);
      font-weight: 600;
      border: 1px solid $white;
      transition: background 0.2s, color 0.2s, border 0.2s;
      box-shadow: none;
      outline: none;

      &:hover {
        background: $white;
        color: $blue;
        border: 1px solid $white;
      }
    }
  }
}
