@import '../../style/mixin.scss';

$white: #FFFFFF;
$darkblue: #0F2239;
$blue: #0D5EF4;
$grey: #B2B2B2;

.trusted-partners-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 190px;
    background-color: $white;
    min-height: 40vh;
    .text-content {
        flex: 1;
        max-width: 600px;
        text-align: left;
        padding: 20px;
        margin-left: 0px;
        position: relative;

        .alo-img {
            position: absolute;
            top: 22px;
            left: -10px;
            width: 150px;
            height: auto;
        }

        h6 {
            @include font(15px, 500, $blue);
            margin-bottom: 10px;
            position: relative;
            padding-left: 20px;
            text-transform: uppercase;
        }

        h2 {
            @include font(36px, 700, $darkblue);
            line-height: 1.2;

            span {
                color: $blue;
            }
        }
    }

    .brand-images {
        flex: 1;
        max-width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        .brand-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}



