@import '../../style/mixin.scss';


$white: #FFFFFF;
$darkblue: #0F2239;
$blue: #3478F6;
$grey: #4d5765;
$red: #F20F10;

.popular-section {
  width: 100%;
  min-height: 80vh; 
  background-image: none;
  background-size: cover;
  background-position: center;
  padding: 40px 0 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-header {
  width: 90%;
  max-width: 1920px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popular-header__left {
  margin-left: 133; 
  margin-top: 55;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding-left: 130px; 

  .popular-alo {
    width: 150px;
    height: auto;
    position: absolute;
    top: 23px;
    left: 134px; 
  }
}

.popular-subtitle {
  position: static; 
  @include font(13px, 500, $blue);
  letter-spacing: 1px;
  margin-left: 24px;
  margin-bottom: 5px;
  padding-top: 22px; 
  text-transform: uppercase;
}

.popular-title {
  @include font(38px, 700, $darkblue);
  margin-bottom: 0;
  max-width: 500px;
  text-align: left;
}

.popular-button {
  margin-right: 118px;
  margin-top: 0;
  @include button($blue, $white, 25px, 12px, 14px, 5px);
}

.popular-slider-wrapper {
  width: 100%;
  max-width: 1140px; 
  margin-left: 15px;
  padding: 10px 0;
  overflow: visible; 
}

.popular-slider {
  .slick-slide {
    padding: 0 15px;
    overflow: visible; 
  }
  .slick-arrow {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background: $white;
    box-shadow: 0 5px 15px rgba(52,120,246,0.15);
    top: 50%; 
    transform: translateY(-50%);
    z-index: 10;
    
    &::before {
      color: $blue;
      font-size: 20px;
      line-height: 50px;
    }
    
    &.slick-prev {
      left: -60px;
    }
    
    &.slick-next {
      right: -60px;
    }
  }
  
  .slick-dots {
    display: block !important;
    bottom: -40px;
    li {
      margin: 0 5px;
      button {
        &::before {
          font-size: 10px;
          color: rgba(0,0,0,0.2); 
        }
      }
      &.slick-active button::before {
        color: $blue; 
      }
    }
  }
}

.popular-card {
  background: $white;
  border-radius: 10px;
  box-shadow: 0 5px 16px rgba(0,0,0,0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 430px; 
  transition: box-shadow 0.2s, transform 0.2s;
  position: relative;
  will-change: transform; 
  
  &:hover {
    box-shadow: 0 10px 32px rgba(52,120,246,0.2);
    transform: translateY(-6px);
    z-index: 1; 
  }
}

.popular-card__img-wrap {
  position: relative;
  width: 100%;
  height: 240px; 
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 0 ;
}

.popular-card__duration {
  position: absolute;
  top: 23px;
  left: 12px;
  background: $red;
  @include font(9px, 600, $white);
  border-radius: 20px;
  padding: 5px 22px;
  letter-spacing: 0.5px;
}

.popular-card__body {
  padding: 15px 22px 0 22px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.popular-card__rating {
  @include font(15px, 500, $blue);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

  span:first-child {
    color: #FFD700; 
  }
}

.popular-card__title {
  @include font(15px, 600, $darkblue);
  margin: 0;
  min-height: auto; 
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.popular-card__info {
  @include font(9px, 400, $grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: -5px;
  margin-bottom: 9px;

  > div {
    display: flex;
    gap: 8px; 
    align-items: center;
  }

  img {
    width: 10px;
    height: 10px;
    object-fit: contain;
  }

  span {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}

.popular-card__line {
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  margin: 0 0px 15px 0px; 

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.popular-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  width: 100%;

  .popular-card__ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .popular-card__author {
    @include font(14px, 500, $darkblue);
    flex-grow: 1;
  }

  .popular-card__cost {
    @include font(18px, 700, $blue);

    &.free {
      color: $red; 
    }
  }
}

